<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Baza Repertuarów Krakowskich Kin</title>
    <link rel="stylesheet" type="text/css" href="../css/styl.css"/>
    <script type="text/javascript" src="/scripts/skrypt.js"></script>
</head>
<body onload="logowanie();">
<div id="kontener">
    <div id="pasekMenu">
        <ul>
            <li id="main_page"><a href='http://localhost:3000/'> Strona główna</a></li>
            <div id="przycisk_wylogowania">
                <input type="button" id="wyloguj" value="Wyloguj">
            </div>

            <div class="dropdown">
                <button class="dropbtn">Panel Administratora</button>
                <div class="dropdown-content">
                    <a href='http://localhost:3000/wszystkieFilmy'>Baza filmów</a>
                    <a href="http://localhost:3000/dodajKino">Dodaj kino</a>
                    <a href="http://localhost:3000/dodajFilm">Dodaj film</a>
                </div>
            </div>

        </ul>
    </div>
    <div class="srodek">


        <form>
            <ul>
                <li class="reset_naglowek"><p>Uzupełnij formularz w celu dodania kina.</p></li>
                <li class="uzytkownik"><input placeholder="Nazwa kina" type ="text" id="dodaj_kino" name="L"></li>
                <li class="potwierdz"><input type="button" id="ok" value="potwierdź"></li>
            </ul>
        </form>

    </div>


</div>
</body>
</html>