<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Baza Repertuarów Krakowskich Kin</title>
    <link rel="stylesheet" type="text/css" href="../css/styl.css"/>
    <script type="text/javascript" src="/scripts/skrypt.js"></script>
</head>
<body onload="logowanie();">

<% if(msg === 0){ %>
    <script>
        alert("Nie udało się dodać Filmu.");
    </script>
<%} else if(msg === 1){%>
    <script>
        alert("Film dodany pomyślnie.");
    </script>
<%}%>

<div id="kontener">
    <div id="pasekMenu">
        <ul>
            <li id="main_page"><a href='http://localhost:3000/'> Strona główna</a></li>
            <div id="przycisk_wylogowania">
                <input type="button" id="wyloguj" value="Wyloguj">
            </div>

            <div class="dropdown">
                <button class="dropbtn">Panel Administratora</button>
                <div class="dropdown-content">
                    <a href='http://localhost:3000/wszystkieFilmy'>Baza filmów</a>
                    <a href="http://localhost:3000/dodajKino">Dodaj kino</a>
                    <a href="http://localhost:3000/dodajFilm">Dodaj film</a>
                </div>
            </div>

        </ul>
    </div>
    <div class="srodek">
            <ul id="panel">
                <li id="formularz_zdjecie">
                <div id="div_IMG">
                    <p><img id="output" width="200" /></p>
                </div>
                </li>

            <li><ul id="formularz_dodaj_film">
                <li class="reset_naglowek"><p>Uzupełnij formularz w celu dodania filmu.</p></li>
                <li class="uzytkownik"><input placeholder="Nazwa filmu" type ="text" id="dodaj_tytul" name="T"></li>
                <li class="uzytkownik"><input placeholder="rok produkcji" type ="text" id="dodaj_rok" name="T"></li>
                <li class="uzytkownik"><input placeholder="reżyser" type ="text" id="dodaj_rezyser" name="T"></li>
                <li class="mail"><textarea placeholder="Opis" type ="text" id="dodaj_opis" name="O"></textarea></li>
                <li id = "informacja_okladka">Proszę dodać okładkę.</li>
                    <form method="POST" accept="image/*" action="upload" enctype="multipart/form-data">
                <li id = "dodaj_plik">
                    <div id = "dodawanie_pliku">
                        <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
                        <p><label for="file" style="cursor: pointer;">Kliknij tutaj aby dodać okładkę.</label></p>
                    </div>
                    <script>
                        var loadFile = function(event) {
                            var image = document.getElementById('output');
                            image.src = URL.createObjectURL(event.target.files[0]);
                        };
                    </script>
                <li class="potwierdz"><input type="submit" id="ok_film" value="potwierdź"></li>
                    </form>



            </ul>
            </li>
            </ul>




    </div>


</div>
</body>
</html>