<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Baza Repertuarów Krakowskich Kin</title>
    <link rel="stylesheet" type="text/css" href="../css/styl.css"/>
    <script type="text/javascript" src="/scripts/skrypt.js"></script>
</head>
<body onload="logowanie();">
<div id="kontener">
    <div id="pasekMenu">
        <ul>
            <li id="main_page"><a href='http://localhost:3000/'> Strona główna</a></li>
            <div id="przycisk_wylogowania">
                <input type="button" id="wyloguj" value="Wyloguj">
            </div>

            <div class="dropdown">
                <button class="dropbtn">Panel Administratora</button>
                <div class="dropdown-content">
                    <a href="http://localhost:3000/dodajKino">Dodaj kino</a>
                    <a href="http://localhost:3000/dodajFilm">Dodaj film</a>
                </div>
            </div>

        </ul>
    </div>

    <div class="srodek">
        <ul class="film_box">
            <% for(i=0; i < amount; i++) {%>
            <ul class="film_box">
                <li><a href ='http://localhost:3000/showMovie/<%=lista[i].movieId%>' ><img class="zdjecie" src="../plakat/<%=lista[i].plakat%>" alt="tutaj jest zdjecie"></a></li>
                <li><ul class="tresc">
                        <li class="tytul"><%=lista[i].tytul%></li>
                        <li class="opis"><p id="opis_tresc"><%=lista[i].opis%></p></li>
                    </ul></li>
            </ul>
            <% } %>
        </ul>
    </div>


</div>
</body>
</html>