<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styl.css" />
    <title>Baza Repertuarów Krakowskich Kin</title>
</head>
<body onload="logowanie();">
<div id="kontener">
    <div id="pasekMenu">
        <ul>
            <li><a href='/'> Strona główna</a></li>
            <div id="przycisk">
                <input type="button" id="loguj" value="Zaloguj">
            </div>
            <form id="dane" name="dane">
                <input placeholder="Hasło" type ="password" id="wsp_haslo" name="wb">
                <input placeholder="Login" type ="text" id="wsp_login" name="wa">
            </form>
        </ul>
    </div>
    <div id="srodek">

    </div>
</div>
</body>
</html>