@charset "UTF-8";

html{
    background: #2b3035;
}

#kontener{
    width: 90%;
    margin: auto;
    font-family: Inconsolata, "sans-serif";
    font-size: 1rem;
}

#pasekMenu {
    width: 100%;
    background: #175f41;
    font-size: 1.5rem;
    height: 2.5rem;
    margin-top: 1rem;
    display: inline-block;
    background: linear-gradient(to right, #196e4a, #15563b);
}

#pasekMenu ul{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    text-align: center;
}

#pasekMenu li{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    display: inline-block;
    float: left;
    list-style: none;
    padding-inline: 1.5rem;
    padding-top: 0.25rem;
}

#pasekMenu a{
    text-decoration: none;
    color: black;
}

#srodek{
    background: #23282c;
    text-align: justify-all;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

input {
    background: #2b3035;
    float: right;
    margin-top: 0.5rem;
    margin-right: 1rem;
    color: #6c757d;
}

button zaloguj{
    float: right;
}
