@charset "UTF-8";

html{
    background: #2b3035;
}

#kontener{
    width: 90%;
    margin: auto;
    font-family: Inconsolata, "sans-serif";
    font-size: 1rem;
}

#pasekMenu {
    width: 100%;
    font-size: 1.5rem;
    height: 2.5rem;
    margin-top: 1rem;
    display: inline-block;
    background: linear-gradient(to right, #196e4a, #15563b);
}

#pasekMenu ul{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    text-align: center;
}

#pasekMenu li{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    display: inline-block;
    float: left;
    list-style: none;
    padding-inline: 1.5rem;
    padding-top: 0.25rem;
}

#pasekMenu a{
    text-decoration: none;
    color: black;
}


.srodek{
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-inline: 10%;
    background: #23282c;
    text-align: center;
}

.zdjecie{
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 15rem;
    max-height: 20rem;
    text-align: left;
    border: 1rem black;
    object-fit: fill;
    color: white;
}



.film_box{
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.film_box>li{
    
    display: inline-block;
    vertical-align: top;
    color: white;
    text-align: left;
}


.tresc>li{
    color: white;
    display: block;
}

.tytul{
    font: 2rem "Times New Roman", serif;
    margin-left: 1rem;
    margin-top: 1rem;
    color: white;
    
}

.opis{
    display: block;
    margin-top: 1rem;
    color: white;
}


ul{
    list-style: none;
}
li{
    list-style: none;
}

input {
    background: #2b3035;
    float: right;
    margin-top: 0.5rem;
    margin-right: 1rem;
    color: #6c757d;
}

.przypomnij>p{
    color: #78818a;
    margin-right: 1rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    text-decoration-line: underline;
    float: right;
}


button zaloguj{
    text-align: right;
}

button rejestruj{
    text-align: right;;
}
